
@import "../abstracts/variables";
@mixin wide-screen {
    @media screen and (min-width: #{$desktop-lg}) {
      @content;
    }
  }
  
@mixin pc {
    @media screen and (min-width: #{$desktop}) {
      @content;
    }
  }
  
 @mixin tab {
    @media screen and (min-width: #{$tablet}) and (max-width: #{$tablet-lg}) {
      @content;
    }
  }
  
@mixin sp {
    @media screen and (max-width: #{$mobile}) {
      @content;
    }
  }
  
@mixin hamburger {
    @media screen and (max-width: #{$tablet-lg}) {
      @content
    }
  }
