/* --- COLORS  --- */
$primary: #0A2640;
$primary--light: #fff;
$opposite:#f5d9bf;
$opposite-button:#e2e6ea;
$secondary: #2e2e2e;
$secondary--light: #fafaf0;
$secondary--dark: #80807C;

$text--primary:#000;
$text--dark: black;
$hamburger-color:rgba(0, 0, 0, 0.9);
$hamburger-color-pc:#1C3D5B;

$boxshadow:#ccc;
/* --- BREAKPOINTS --- */

$desktop-lg:1200px;
$desktop:960px;
$tablet-lg:959px;
$tablet:560px;
$mobile:559px;



$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;


$color: #0cf;
