@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./sass/abstracts/variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
  
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
@layer components {
    .hamburger {
        width: 97px;
        height: 100px;
        background: $primary;   
        padding-top: 50px;
 
    }

    .hamburger div:first-child {
        @apply rotate-45 translate-y-1;
    }

    .hamburger div:last-child {
        @apply -rotate-45 -translate-y-0.5;
    }

    .hamburger div:nth-child(2) {
        display: none
    }
}