@import "../abstracts/mixins";

.header {
    display: flex;
    width: 100%;
    background-color:$primary;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 8px 10px $boxshadow;
    @include sp {
      height: 60px;
    }
    @include tab {
      height: 70px;
    }
    @include pc {
      height: 180px;
    }
    &__logo {
      display: inline-block;
      height: auto;
      text-decoration: none;
      color: $text--primary;
      margin: auto;
      @include sp {
        margin-left: 16px;
        font-size: 18px;
        letter-spacing: 0.07em;
      }
      @include tab {
        margin-left: 16px;
        font-size: 24px;
        letter-spacing: 0.05em;
      }
      @include pc {
        margin-left: 100px;
        font-size: 26px;
        letter-spacing: 0.05em;
      }
      @include wide-screen {
        margin-left: 100px;
      }
    }
    &__nav-wrap {
      height: 100%;
      width: max-content;
      margin-left: auto;
      

      @include hamburger {
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        z-index: 10;
        background-color: $hamburger-color;
        width: 100%;
        height: 100%;
      }
      @include pc {
        display: inline-block;
       
      background-image: url('../../src/assets/Ellipse.svg');
      padding-left: 10.5rem;
      padding-right: 1.5rem;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      }
      &.open {
        display: block;
      }
    }
    &__nav-list {
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;
      @include hamburger {
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 30vh;
      }
      @include pc {
        display: flex;
        align-items: center;
      }
    }
    &__nav-item {
      width: max-content;
      @include sp {
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        text-align: center;
      }
      @include tab {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
      }
      @include pc {
        display: inline-block;
        margin-right: 24px;
      }
      @include wide-screen {
        margin-right: 40px;
      }
    }
    &__nav-link {
      position: relative;
      display: inline-block;
      text-decoration: none;
      letter-spacing: 0.15em;
      color:$primary--light;
      @include hamburger {
        font-size: 21px;
        color: $primary--light;
      }
      @include pc {
        font-size: 18px;
      }
      @include wide-screen {
        font-size: 16px;
      }
      &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        transform: scale(0, 1);
        transform-origin: center top;
        transition-duration: 0.25s;
        @include hamburger {
          background-color: $primary--light;
        }
        @include pc {
          background-color: $primary--light;
        }
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
     &__nav-link-button  {
  align-items: flex-start;
  padding: 8px 40px;
  gap: 8px;
  color:$text--primary !important;
  background: $primary--light;;
  border-radius: 24px; 
  display: inline-block;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
    &:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $opposite-button;
		border-radius: 10rem;
		z-index: -2;
        border-radius: 24px;
      
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
        
		background-color: darken($opposite-button, 15%);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
     }
    } 
  }
  
  .ham-menu {
    @include hamburger {
      display: inline-block;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: 16px;
      transition: all 0.3s;
      z-index: 20;
      position: relative;
      width: 40px;
      height: 40px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      border: 2px solid $text--primary;;
      cursor: pointer;
    }
    @include pc {
      display: none;
    }
    &__item {
      @include hamburger {
        display: inline-block;
        box-sizing: border-box;
        transition: all 0.3s;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: $text--primary;;
        border-radius: 5px;
      }
      &:nth-of-type(1) {
        top: 8px;
      }
      &:nth-of-type(2) {
        top: 16px;
      }
      &:nth-of-type(3) {
        bottom: 8px;
      }
    }
    &.active {
      border: none;
    }
    &.active .ham-menu__item:nth-of-type(1) {
      -moz-transform: translateY(10px) rotate(-45deg);
      -webkit-transform: translateY(10px) rotate(-45deg);
      transform: translateY(10px) rotate(-45deg);
      background-color: $primary--light;
    }
    &.active .ham-menu__item:nth-of-type(2) {
      transition-duration: 0s;
      opacity: 0;
    }
    &.active .ham-menu__item:nth-of-type(3) {
      -moz-transform: translateY(-10px) rotate(45deg);
      -webkit-transform: translateY(-10px) rotate(45deg);
      transform: translateY(-10px) rotate(45deg);
      background-color: $primary--light;
    }
  }
  .classDeprueba{
     width: 100px;
          height: 100px;
  
          background-image: url('../../src/assets/Ellipsemobile.svg');
          border-bottom-left-radius: 85%;
     
  }

  