<template>
  <div>
    <div class="hello">
      <header class="header">
        <a class="header__logo" href="#">
          <img alt="Vue logo" src="../assets/logoEy.svg" />
        </a>
        <nav class="header__nav-wrap" :class="{ open: burgerVisibility }">
          <ul class="header__nav-list" @click="burgerVisibility = false">
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">Product</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">Services</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">About</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link header__nav-link-button" href="#"
                >Log In</a
              >
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DesktopComponent'
}
</script>

<style lang="scss">
@import '../styles/sass/components/DesktopComponent.scss';
</style>
