<template>
  <div>
    <div class="h-screen bg-gray-50">
      <header>
        <div class="relative z-20 border-b bg-regal-blue">
          <div class="px-6 lg:container lg:mx-auto lg:px-6 lg:py-4">
            <div class="flex items-center justify-between">
              <div class="relative z-20">
                <a href="#">
                  <img
                    src="../assets/logoEy.svg"
                    alt="logo-tailus"
                    class="w-32"
                  />
                </a>
              </div>

              <div class="flex items-center justify-end">
                <input
                  type="checkbox"
                  name="hamburger"
                  id="hamburger"
                  class="peer"
                  hidden
                />
                <label
                  for="hamburger"
                  class="peer-checked:hamburger block relative z-20 pt-11 p-6 -mr-6 cursor-pointer lg:hidden classDeprueba"
                >
                  <div
                    aria-hidden="true"
                    class="ml-auto h-0.5 w-6 rounded bg-white transition duration-300"
                  ></div>

                  <div
                    aria-hidden="true"
                    class="ml-auto mt-1 h-0.5 w-4 rounded bg-white transition duration-300 notsee"
                  ></div>
                  <div
                    aria-hidden="true"
                    class="ml-auto mt-1 h-0.5 w-6 rounded bg-white transition duration-300"
                  ></div>
                </label>

                <div
                  class="peer-checked:translate-x-0 fixed inset-0 w-[calc(100%-4.5rem)] translate-x-[-100%] bg-regal-blue shadow-xl transition duration-300 lg:w-auto lg:static lg:shadow-none lg:translate-x-0 w-full"
                >
                  <div
                    class="flex flex-col h-full justify-between lg:items-center lg:flex-row"
                  >
                    <ul
                      class="px-7 pt-32 text-gray-700 space-y-8 lg:space-y-0 lg:flex lg:space-x-12 lg:pt-0"
                    >
                      <li>
                        <a
                          href="/"
                          class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100"
                        >
                          <span class="relative text-white text-base"
                            >Product</span
                          >
                        </a>
                      </li>
                      <li>
                        <a
                          href="/"
                          class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100"
                        >
                          <span class="relative text-white text-base"
                            >Services</span
                          >
                        </a>
                      </li>
                      <li>
                        <a
                          href="/"
                          class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-cyan-100 before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100"
                        >
                          <span class="relative text-white text-base"
                            >About</span
                          >
                        </a>
                      </li>
                      <li>
                        <a href="/">
                          <button
                            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-9 border border-gray-400 rounded-full shadow text-base"
                          >
                            Log In
                          </button>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MobileComponent'
}
</script>
